.about-container h4{
    text-align: center;
    color:#01ADEF;
    font-size: 30px;
}
.about-container{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 100px;
}
.about-section{
    display: flex;
    justify-content: center;
}
.about-para{
    font-weight: 500;
}