.swiper{
    /* border: 1px solid blue; */
    margin: 0;
}
.swiper-box{
    margin: 50px 60px ;
    /* border: 1px solid black; */
    /* padding: 20px; */
}
.image{
  border-radius: 10px;
   width: 100%;
   height: 100%;
}

@media (max-width:768px) {
    
    .swiper-box{
    margin: 20px 15px ;
    /* border: 1px solid black; */
    /* padding: 20px; */
}
}


@media (max-width:992px) and (min-width:768px) {
    
}
