
.nav-up-container{
    /* border: 1px solid black; */
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.left-container{
    display:flex;  
}
.left-container ul{
  display: flex;
  margin: 0;padding: 0;
font-weight: 400;
  list-style: none;
  gap: 5em;

}
.right-container{
    display: flex;
    gap: 30px;
}
hr{
    margin: 0;
    padding: 0;
}
.navlogo{
    display: flex;
    justify-content: end;
}
.left-list{
    gap: 20px;
    margin-left: 30px;
}
.main-navbar{
    padding: 15px 0px;
}
.login-btn{
      padding: 7px 10px;
      border-radius: 5px;
      border: none;
      background-color: #00AEEF;
      color: white;
      font-size: 15px;
}
.right-list{
    display: flex;
    align-items: center;
    gap: 15px;
}
.right-list li a{
    font-size: 23px;
    background-color: #dbdee5dd;
    border-radius: 50%;
    margin: 0;padding: 0;
    text-align: center;
    padding: 2px 4px;
}
video{
    width: 100%;
    height: 100%;
    
}
.video{
    margin: 20px;
    border-radius: 20px; 
    object-fit: cover;
    overflow: hidden;
}
.cart-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 30px;
  bottom: 43px;
  color:white;
  font-size: 14px;
  z-index: 1;
  background-color: black;
  top: 2px;
}
.like-badge {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* left: 35px; */
  /* bottom: 20px; */
  width: 20px;
  height: 20px;
  /* color: white; */
  font-size: 14px;
  /* z-index: 1; */
  /* top: 2px; */
text-align: center;
  background-color: black;
  border-radius: 50%;
}
.login-form{
  /* background-color: red; */
  margin:  0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
 
}
.form-heading{
  text-align: center;
   background-color: #00AEEF;
   color: white;
   font-size: 15px;
   padding: 20px;
}
.login-form input{
  border-radius: 10px;
  margin: 20px 10px;
  padding: 10px;
  border: 1px solid blue;
}
.login-form .buttons{
  margin: 0 20px;
}
@media (max-width:768px) {
    .nav-up-container{
    /* border: 1px solid black; */
    padding: 10px 0;
    display: flex;
   gap: 10px;
    flex-direction: column;
    justify-content: start;
    
}
.left-container ul{
  display: flex;
  margin: 0;padding: 0;
font-weight: 400;
  list-style: none;
  gap:1em ;
  font-size: 10px;
  flex-direction: column;
 

}
.left-container{
    display:flex; 
    justify-content: start;
    
}
.right-container{
    display: flex;
    gap: 10px;
    justify-content: start;
}
.right-list{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 12px;
    /* flex-wrap: wrap; */
}
.down-navbar{
    display: flex;
   
    
}
.login-btn{
      padding: 7px 10px;
      border-radius: 5px;
      border: none;
      background-color: #00AEEF;
      color: white;
      font-size: 10px;
}

.cart-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 23px;
  bottom: 43px;
  color:white;
  font-size: 10px;
  z-index: 1;
  background-color: black;
  top: 2px;
}
.like-badge {
  width: 15px;
  height: 15px;
  font-size: 10px;
text-align: center;
  background-color: black;
  border-radius: 50%;
}
.video{
    margin: 10px;
    border-radius: 10px; 
    object-fit: cover;
    /* overflow: hidden; */
}
}

@media (mmax-width:992px) and (min-width:768px) {
   
}
